doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Creative - Start Bootstrap Theme
  // Font Awesome Icons
  link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')
  // Plugin CSS
  link(href='vendor/magnific-popup/magnific-popup.css' rel='stylesheet')
  // Theme CSS - Includes Bootstrap
  link(href='css/creative.min.css' rel='stylesheet')

  block head

body
  // Navigation
  include _header

  block content
    h1 this is a placeholder

  // Footer
  include _footer

  // Bootstrap core JavaScript
  script(src='vendor/jquery/jquery.min.js')
  script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='vendor/jquery-easing/jquery.easing.min.js')
  script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
  // Custom scripts for this template
  script(src='js/creative.min.js')
  script(src='js/bundle.js')




  block script
